nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(184, 168, 168, 0.906);
}

.text_block {
    display: block;

}
.bold_text {
    font-weight: 600;
    font-size: 20px;
}

.content-block {
    width: 300px;
}

footer {
    background-color: rgba(184, 168, 168, 0.906);
}
