body {
    background-color: #946767;
    display: flex;
    max-width: 1000px;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.box {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background: rgb(72, 40, 40);
}

.box:hover {
    .line {
        width: 600px;
    }
}

.text {
    position: sticky;
    top: 50%;
    /* text-align: center; */
    color: green;
    font-size: 20px;
}

.line {
    position: absolute;
    width: 10px;
    height: 30px;
    background-color: white;
    transform: translate(-200px, -130px);
    transition-duration: 1s;
}
