body {
    background-color: #946767;
}

.main {
    display: flex;
    min-width: 100vh;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
}

.box {

    width: 200px;
    height: 200px;
    border-radius: 10px;
    background: rgb(72, 40, 40);
}

.box:hover .text {
    color: rgb(165, 202, 111);
    transition: color 3.5s step-end;
}

.box:hover .line {
    width: 55%;
    transition-duration: 3s;
}

.text {
    font-size: 20px;
    color: rgb(72, 40, 40);
    padding-top: 45%;
    padding-left: 35%;
    transition: color 1s step-end;
}

.line {
    position: absolute;
    transform: translate(-200px, -170px);
    width: 0px;
    height: 30px;
    background-color: white;
    transition: width 1s ease-in-out;
}
