body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    background-color: #C0C0C0;
}


.menu {
    align-items: center;
    display: flex;
    height: 50px;
}


.row {
    margin: 0;
    padding: 4px;
}

.row li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    border: 3px solid blue; /* Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
    color: blue;
}

.submenu {
    display: inline;
    border: 3px solid blue;
    padding: 3px;
}