body {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    max-width: 1440px;
}

h1  {
    font-size: 52px;
    font-weight: 500;
}

/* ================================================ */

.header {
    margin: 30px 0;
}

.container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 30px;
}

/* ================================================ */

.hero {
    background: url("../img/Hero_bg.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    padding: 120px 0;
}

.hero-title {
    display: flex;
    margin: 30px auto;
    color: white;
    justify-content: center;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: white;
    margin: 10px auto;
}

.hero-section-item {
    font-size: 24px;
    margin-left: 18px;
}

.container-button {
    display: flex;
    justify-content: center;
}

.button {
    font-size: 16px;
    font-weight: 400;
    border-radius: 100px;
    padding: 18px 130px;
    color: #1D6FB6;
    background: #D0DCE7;
    margin: 30px 0;
}

/* ================================================ */

.content-container {
    max-width: 1200px;
    height: 100%;
    margin: 120px auto;
}

.global-content {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(153, 128, 97); */
    width: 1200px;
    height: 2022px;
    /* padding: 50px 0; */
}

.left-menu {
    /* background-color: cadetblue; */
    width: 282px;
    height: 1170px;
    border: 2px solid #D0DCE7;
    padding: 30px 30px;
}

.left-menu-item {
    padding-bottom: 20px;
}

.global-content-block {
    /* background-color: chartreuse; */
    width: 792px;
    height: 1900px;
}

.block-1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 792px;
    max-height: 792px;
    justify-content: space-between;
}

.small-image {
    max-width: 400px;
}

.small-image-item-left {
    padding: 0 17px 24px 0;
}

.small-image-item-right {
    margin: 0 0 24px 17px;
}

/* ================================================ */

.block-2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 792px;
    max-height: 792px;
    justify-content: space-between;
    margin-top: 120px;
}

.container-watch {
    max-width: 384px;
    max-height: 354px;
    border: 2px solid #D0DCE7;
    margin-bottom: 20px;
}

.container-watch-megahit {
    position: relative;
    max-width: 384px;
    max-height: 354px;
    border: 2px solid #D0DCE7;
    margin-bottom: 20px;
}

.megahit {
    position: absolute;
    top: 30px;
    background: white;
    border-radius: 0 100px 100px 0;
    padding: 20px;
    color: #1D6FB6;
}

